<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatUser</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
       

</head>
<body>
    <div class="container">
    <h1>Welcome to Chat App</h1>
    <form action="">
        <label for="userName">Enter your Username here:</label>
        <input name="userName" type="text">
        <br>
        <button type="submit">Go to chat</button>
    </form>
    </div>
</body>
</html>
